/* Design for mobile first */
header {
  background-color: black;
  text-align: left;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.wrapper,
.secondWrapper {
  display: flex;
  flex-direction: column;
}

/* Split page in two */
.right-item,
.left-item {
  flex: 2;
}

.left-item img {
  width: 100vw;
}

.right-item form {
  display: grid;
  border-radius: 5%;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  background-color: #ffffff;
  height: 60%;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.right-item form input {
  padding: 2%;
  border: solid;
  border-color: #e5e5e5;
  border-radius: 5%;
  margin: 2% 0 2% 0;
}

span {
  text-align: center;
  margin: 3%;
  color: white;
}

hr {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 1%;
}

.icon {
  width: 100px;
  margin: auto;
}

.secondWrapper {
  margin: 5%;
  text-align: center;
  justify-content: center;
}

.landing-title {
  text-align: left;
  font-size: 15px;
}

.demo {
  background-color: lightblue;
  border-radius: 5px;
  font-weight: bold;
}

/* Desktop Styles */
@media all and (min-width: 800px) {
  .wrapper {
    flex-direction: row;
    height: 70vh;
    background-color: #e5e5e5;
  }

  .secondWrapper {
    display: flex;
    flex-direction: row;
  }

  .secondWrapper div {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
  }

  .left-item img {
    width: 45vw;
    margin: 5%;
    border-radius: 10%;
  }
  .right-item form {
    margin: 0;
    margin-left: 15%;
    margin-top: 6%;
  }
}
