/* Design for mobile first */
header {
  background-color: hotpink;
  text-align: left;
  padding: 20px;
  color: white;
}

.wrapper, .secondWrapper {
  display: flex;
  flex-direction: column;
}

/* Split page in two */
.right-item,
.left-item {
  flex: 2;
}

.left-item img {
    width: 100vw;
}

.right-item form {
  display: grid;
  border-radius: 5%;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  background-color: #ffffff;
  height: 60%;
  width: 50%;
  margin: 10%;
}

.right-item form input {
  padding: 2%;
  border: solid;
  border-color: #e5e5e5;
  border-radius: 5%;
  margin: 2% 0 2% 0;
}

button {
  display: block;
  margin: 5% 0 5% 0;
  background-color: #13aec3;
  padding: 2%;
  width: 50%;
  margin: auto;
  color: white;
  font-weight: bold;
}

#login-btn {
  background-color: #007dc3;
  width: 100%;
}

span {
  text-align: center;
  margin: 3%;
  color: black;
}

hr {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 1%;
}

.icon {
    width: 100px;
    margin: auto;
    margin-top: 5%;
}

.secondWrapper {
    background-color: #e5e5e5;
}
/* Desktop Styles */
@media all and (min-width: 800px) {
  .wrapper, .secondWrapper {
    flex-direction: row;
  }

  .left-item img {
      width: 50vw;
  }
}
