.shadow {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-modal {
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }
  
  .close {
    border: none;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 20px;
  }
  
  
  .circle-btn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid;
    position: absolute;
    left: 20%;
  }
  
  .workoutPlan {
    display: flex;
    flex-direction: row;
    margin: 5%;
  }
  
  .workout-title {
    position: absolute; 
    top: 20%;
  }