.date {
  border: solid;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  padding: 1%;
  background-color: #e5e5e5;
}

#complete {
  background-color: green;
}

#incomplete {
  background-color: white;
}

h2 {
  text-align: center;
}

.btn-other {
  background-color: black;
  color: white;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

text {
  display: flex;
}

.day {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}